NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api
NEXT_PUBLIC_USE_MOCK_ORDER_REVIEW=true
NEXT_PUBLIC_USE_MOCK_PACKING=true
NEXT_PUBLIC_USE_MOCK_DISPATCH=true
NEXT_PUBLIC_USE_MOCK_DELIVERY=true
NEXT_PUBLIC_USE_MOCK_CATALOGUE=true
NEXT_PUBLIC_USE_MOCK_RETAILER_INVITE=true
NEXT_PUBLIC_TENANT_ID=tenant-demo
